# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# R
# -----------------------------
.RData
.Rhistory

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.env/

# -----------------------------
# Genomics Data
# -----------------------------
*.bed
*.bim
*.fam
*.vcf
*.vcf.gz
*.bcf

# -----------------------------
# Large datasets
# -----------------------------
data/genotypes/
data/raw/

# -----------------------------
# PRSice output
# -----------------------------
results/

# -----------------------------
# Downloaded software
# -----------------------------
tools/
lib/

# -----------------------------
# OS files
# -----------------------------
Thumbs.db
.DS_Store